*, *:before, *:after {
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}
*:-moz-placeholder {
    color: #666;
    opacity: 1;
}
*::-moz-placeholder {
    color: #666;
    opacity: 1;
}
*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    
}
body input:required:valid,
body textarea:required:valid {
    
}

html.js .loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
html.js .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.6;
    font-family: "CynthoPro-Regular", sans-serif;
    overflow-x: hidden;
}
.hidden {
    display: none;
}

li{
    list-style: none;
    font-size: 1.3em;
}
ul{
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
    border: 8px solid #fff;
}
header{
}
h1, h2, h3{
    font-family: 'CynthoPro-Bold';
}
.header-logo a{
    font-size: 2.5em;
    color: #000;
    text-decoration: none;;
}
.home-introduction{
    background-image: url(../img/bg-intro.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}
.home-introduction .container-fluid{
    text-align: center;
    height: 80vh;
    color: #fff;
    padding: 8em 0;
}
.home-introduction h1{
    font-size: 4em;
}
.home-introduction .container-fluid p{
    font-size: 1.6em;
}
.home-introduction .container-fluid a{
    font-weight: bold;
    color:#fff;
}
.fa-chevron-circle-down{
    font-size: 5em;
}
.skills{
    padding-bottom: 3.16em;
    padding-top: 3.16em;
    text-align: left;
}
.skills h3{
    font-size: 1.17em;
}
.fa-mobile,
.fa-code-fork,
.fa-code {
    font-size: 2em;
    padding-right: 5px;
}

.portfolio{
    background: #F3F3F3;
    padding-bottom: 3.16em;
}
.work {
    margin-bottom: 1.2em;
    overflow: hidden;
    position: relative;
}
.work .mask{
    background-color:rgba(115,146,184, 0.7);
    position: absolute;
    text-align: center;
    color: #fff;
    
    width: 92.2%;
    height: 96.5%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5em;
    margin: auto;
    opacity: 0;

}
.work .mask:hover{
    transition: 300ms ease-in;
    opacity: 1;
}
.mask a{
    color:#fff;;
}
.feedback{
    padding: 3.16em 0 3.16em 0;
}
.feedback input,
 .form-control {
    border-radius: 0;
    border: 1.9px solid #000;
}
.feedback button{
    float: right;
    background-color: #fff;
    border-color: #000;
    padding: 0.5em 2em;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}
.feedback button:hover{
    background-color: #000;
    border-color: #000;
    color: #fff;
    transition: 300ms ease-in;
-webkit-transition:300ms ease-in;
-moz-transition: 300ms ease-in;
-o-transition: 300ms ease-in;
    
}
footer{
    background: #000;
    color: #fff;
}
footer ul{
    margin: 14px 0 14px 0;
}
footer li {
    display: inline-block;
    margin-right: 1em;
    float: right;
}
.social{
    text-align: right;
    font-size: 1.3em;
}
.social a{
    text-decoration: none;
    color: #fff;
}
[class*='contact']{
    display: block;
     margin: auto;
     width: 100%;
     text-align: left;
}
.contact__label{
    background: transparent;
    font-weight: bold;
}

.contact__input,
.contact__area{
    padding: 3px;
    border: 1px solid #222;
}

.contact__area{
    margin-bottom: 20px;
    resize: none;
}
